<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/items/addItem">Add New Item</a> | 
			<a href="/items">All Items List</a>
		</div>	
		<h1><%= title %></h1>
